.catNameTag--auto {
  width: 50%;
  // height: 70px;
  display: flex;
  top: 0px;
  cursor: default;
  @media (max-width: 1023px) {
    width: 40%;
  }
  @media (max-width: 767px) {
    width: 60%;
  }
  .catAuto {
    position: absolute;
    // width: 100%;
    // height: auto;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }

  .default-auto {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);

    &.hide-auto {
      opacity: 0;
      //   transform: translateY(-10px);
    }
  }

  .hover-auto {
    opacity: 0;
    z-index: 1;
    // transform: translateY(-10px);

    &.show-auto {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .catText--auto {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-55%, -45%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    z-index: 2;
    pointer-events: none;
    letter-spacing: 2px;
    @media (max-width: 1023px) {
      font-size: 20px;
    }
    @media (max-width: 767px) {
      top: 50%;
      font-size: 18px;
      
    }
  }
}
