.catNameTagAuto {
  width: 67%;
  max-width: 315px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  position: relative;
  height: 115px;
  cursor: default;
  @media (max-width: 1023px) {
    width: 85%;
    height: 90px;
  }
  @media (max-width: 767px) {
    width: 60%;
    max-width: 210px;
    height: 70px;
  }
  .catAuto {
    position: absolute;
    // width: 100%;
    // height: auto;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }

  .default-auto {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);

    &.hide-auto {
      opacity: 0;
      //   transform: translateY(-10px);
    }
  }

  .hover-auto {
    opacity: 0;
    z-index: 1;
    // transform: translateY(-10px);

    &.show-auto {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .catTextAuto {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-55%, -45%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    z-index: 2;
    pointer-events: none;
    letter-spacing: 2px;
    @media (max-width: 1023px) {
      font-size: 20px;
      top: 57%;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      top: 50%;
    }
  }
}
