@use "../../styles/reset.scss";

#catProfile {
  display: flex;
  flex-direction: column;
  padding: 100px 5%;
  gap: 150px;

  .profilehead {
    display: flex;
    width: 100%;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .profileLeft {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding-top: 50px;

      .profileHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .profileTitle {
          display: flex;
          align-items: center;
          gap: 15px;
          .petName {
            color: #604d32;
            text-align: center;
            font-size: 3rem;
            font-style: normal;
            font-weight: 500;
          }

          img {
            width: 75px;
            height: 75px;
            @media (max-width:767px) {
              width: 42px;
            }
          }
        }

        .profileSubTitle {
          color: #604d32;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .profilePhotoThree {
        display: flex;
        flex-direction: column;
        align-items: center;

        .profilePhoto {
          object-fit: cover;
          mask-image: url("/images/maskcatsmall.svg");
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center;
          -webkit-mask-image: url("/images/maskcatsmall.svg");
          -webkit-mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center;
        }

        .maskBig {
          width: 70%;
        }

        .maskSmall {
          width: 48%;
        }

        .maskSmallPhoto {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          padding: 5%;
        }
      }
    }

    .profileRight {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 70px;
      padding-top: 50px;

      .catPawRatingBox {
        // background: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        border-radius: 30px;
        gap: 5%;
        width: 100%;
      }
    }
  }

  .profileMain {
    display: flex;
    flex-direction: column;
    gap: 1%;
    width: 100%;
    flex: 1;

    .profileMainBox {
      display: flex;
      @media (max-width: 767px) {
        flex-direction: column;
      }
      .profileBox {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .profileDetail {
          display: flex;
          width: 80%;
          height: 300px;
          padding: 16px 39px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          border-radius: 25px;
          background: rgba(255, 255, 255, 0.5);
          color: #604d32;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: 2.64px;
          text-align: justify;
          @media (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }
  }
}
