@use "../../styles/reset.scss";

.adoptBox {
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 20%;

  .adoptHeader {
    display: flex;
    justify-content: center;

    .adoptTitle {
      color: #604d32;
      text-align: center;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3.2px;
    }
  }

  .step-section {
    display: flex;
    justify-content: center;
    gap: 8%;
    // padding: 10% 3% 0% 3%;
    height: 70%;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
      height: auto;
    }
  }

  .step-card {
    border: 1px solid #ffa50050;
    border-radius: 30px;
    padding: 2%;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 768px) {
      padding: 5%;
    }
    .step-title {
      color: #ff6b00;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .step-badge {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      background-color: #ffe397;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
      margin-bottom: 12px;
      padding: 8%;

      span {
        color: #604d32;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 3.2px;
      }
    }

    .step-status-title {
      color: #ff630f;
      text-align: center;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2px;
    }

    .step-description {
      background-color: #fff4da;
      border-radius: 6px;
      padding: 8px;
      color: #604d32;
      text-align: center;
      font-family: "Noto Sans TC";
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2.4px;
    }
  }

  .step-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
    border-radius: 99px;
    background: #ffe397;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

    .number {
      background-color: #fffdf0;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      color: #604d32;
      text-align: center;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3.2px;
    }

    &.yellow {
      background: #ffeda6;
    }

    &.gray {
      background: #d9d9d9;
    }

    &.darkgray {
      background: #888;
      color: #fff;
    }
  }

  .step-status-title {
    color: #ff6b00;
    font-size: 14px;
    margin-bottom: 6px;
  }

  .step-description {
    background: #fff4da;
    border-radius: 6px;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
  }
}
