@use "../styles/reset.scss";

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px 20px;
  z-index: 999;
  box-sizing: border-box;

  @media (max-width: 767px) {
    padding: 0px 10px;
  }

  .logo {
    @media (max-width: 767px) {
      width: 80px;
    }

    a {
      display: inline-block;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .menuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    // background-color: #604d32;
    z-index: 200;
    position: relative;
    padding: 10px;
  }

  .menuButton {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;

    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  .menu {
    width: 100%;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-radius: 99px;
      gap: 4%;
      padding: 5px 20px;

      @media (max-width: 767px) {
        padding: 0px;
      }

      li {
        display: inline-block;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: linear-gradient(to right, #604d32 50%, #daa001 50%);
        background-size: 200% 100%;
        background-position: left bottom;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-position 0.4s ease;
        cursor: pointer;

        @media (max-width: 767px) {
          font-size: 1.5rem;
        }

        &:hover {
          background-position: right bottom;
        }
      }
    }
  }

  // 🔽 響應式切換
  @media (max-width: 767px) {
    .hamburger {
      display: flex;
    }

    .menuButton {
      display: none;
      position: absolute;
      top: 0px;
      right: 0;
      width: 100vw;
      height: 100vh;
      background: #fff;
      z-index: 100;
      flex-direction: column;
      align-items: flex-end;
      border-radius: 30px;
    }

    .menuButton.open {
      display: flex;
    }

    .menu ul {
      flex-direction: column;
      gap: 4rem;

      li {
        cursor: pointer;
      }
    }
  }

  .gohomeBt {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    color: #604d32;
    background-color:transparent;
    span {
      color: #604d32;
    }
    img {
      display: block;
      transition: opacity 1s;
    }

    .hover-img {
      display: none;
      position: absolute;
      left: 20px;
      top: 10px;
    }

    &:hover img {
      opacity: 0;
    }

    &:hover .hover-img {
      display: block;
      opacity: 1;
      width: 40px;
      position: absolute;
      left: 10px;
      top: 0px;
    }
  }
}
