@use "../../styles/reset.scss";

.findCard {
  width: 30%;
  max-width: 286px;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  @media (max-width:767px) {
    width: 90%;
  }
  img{
    width: 100%;
    height:286px;

  }
  .findCardBody {
    padding: 5%;
    li{
        text-align: left;
        font-size: 1.1rem;
        line-height: 27px;
    .findSmallTitle{
        font-weight: 700;

    }
    .findSmallText{
        font-weight: 500;
    }
    }
  }
}
