@use "../../styles/reset.scss";

.waiting {
  display: flex;
  flex-direction: column;
  padding: 100px 5%;

  .waiting-main {
    display: flex;
    gap: 8%;
    margin-top: 50px;

    .cat-filter-section {
      background: #fdf0c9;
      padding: 15px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 22%;
      max-width: 220px;

      position: relative;

      @media (max-width: 1024px) {
        display: none;
      }

      .filter-reset {
        position: absolute;
        top: -24px;
        right: 3px;

        .reset-button {
          background: none;
          border: none;
          color: #ffa134;
          font-size: 0.85rem;
          cursor: pointer;
          padding: 0;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .filter-group {
        display: flex;
        flex-direction: column;
        gap: 4px;

        label {
          color: #3a2c19;
          text-align: center;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 2.16px;
        }

        .input-row {
          display: flex;

          input {
            width: 80%;
            padding: 6px 12px;
            border: 1px solid #ffa134;
            border-radius: 8px;
            font-size: 0.8rem;
            background-color: #fff;
          }

          button {
            // border: 1px solid #ffa134;
            background: transparent;

            padding: 4px;

            // width: 20%;
            // height:50%;
            color: #604d32;
            text-align: center;
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            // letter-spacing: 2.16px;
            cursor: pointer;
          }
        }

        .options {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 8px;

          button {
            border: 1px solid #ffa134;
            background: white;
            border-radius: 999px;
            padding: 4px 12px;
            min-width: 60px;
            color: #604d32;
            text-align: center;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2.16px;
            cursor: pointer;

            &:hover {
              background: #fff6e0;
            }

            &.selected {
              background: #f1ca87;
              color: #3a2c19;
              font-weight: 600;
              border-color: #e09e30;
            }
          }
        }
      }
    }

    .waiting-card {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      width: 70%;

      @media (max-width:1024px) {
        width: 100%;

      }
    }
  }
}