/* 手 */
.home-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    color: #ffecb7;
    -webkit-text-stroke: 6px #dfc681; // 外框色
    font-family: "Lemon", cursive;
    font-size: 7rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 8.64px;
    line-height: 1;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    width: 180px;
    height: 62px;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px img {
      width: 47px;
      height: 47px;
    }
  }
}
#homePage {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff1a8;
  overflow: hidden;
  max-width: 100vw;
  padding: 0px;

  .catBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    .floatingCat {
      position: absolute;
      width: 300px;
      //   opacity: 0.5;
      animation: float 10s infinite ease-in-out;
      z-index: 10;

      &:nth-child(1) {
        top: 20%;
        left: 5%;

        animation-delay: 0s;
      }

      &:nth-child(2) {
        top: 40%;
        left: 70%;
        width: 20%;

        animation-delay: 1s;
      }

      &:nth-child(3) {
        top: 10%;
        left: 20%;
        width: 10%;

        animation-delay: 3s;
      }

      &:nth-child(4) {
        top: 20%;
        left: 80%;
        width: 10%;

        animation-delay: 0.5s;
      }

      &:nth-child(5) {
        top: 75%;
        left: 80%;
        width: 15%;

        animation-delay: 0s;
      }

      &:nth-child(6) {
        top: 65%;
        left: 5%;
        width: 20%;

        animation-delay: 4s;
      }

      &:nth-child(7) {
        top: 45%;
        left: 20%;
        width: 10%;
        animation-delay: 1s;
      }

      &:nth-child(8) {
        top: 5%;
        left: 60%;
        width: 15%;
        animation-delay: 2.5s;
      }
    }

    .pawBackground {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;

      .floatingPaw {
        position: absolute;
        //   opacity: 0.15;
        pointer-events: none;
        max-width: 5%;

        &:nth-child(1) {
          top: 5%;
          left: 20%;
          transform: scale(0.5) rotate(0deg); //scale縮放大小、rotate旋轉角度
        }

        &:nth-child(2) {
          top: 15%;
          left: 70%;
          transform: scale(0.8) rotate(30deg);
        }

        &:nth-child(3) {
          top: 50%;
          left: 10%;
          transform: scale(0.9) rotate(-20deg);
        }

        &:nth-child(4) {
          top: 80%;
          left: 50%;
          transform: scale(0.6) rotate(0deg);
        }

        &:nth-child(5) {
          top: 75%;
          left: 75%;
          transform: scale(0.9) rotate(-45deg);
        }

        &:nth-child(6) {
          top: 30%;
          left: 35%;
          transform: scale(0.7) rotate(10deg);
        }

        &:nth-child(7) {
          top: 50%;
          left: 65%;
          transform: scale(1.2) rotate(15deg);
        }

        &:nth-child(8) {
          top: 40%;
          left: 85%;
          transform: scale(0.6) rotate(-60deg);
        }

        &:nth-child(9) {
          top: 77%;
          left: 24%;
          transform: scale(1) rotate(89deg);
        }

        &:nth-child(10) {
          top: 10%;
          left: 40%;
          transform: scale(1) rotate(-90deg);
        }
      }
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-30px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  .mainHero {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    z-index: 10; // 保證在背景圖層上面

    .catContainer {
      position: relative;
      bottom: 50px;

      .mainCatIllustration {
        width: 90%;
      }

      //   .eye {
      //     position: absolute;
      //     width: 20px;
      //     height: 20px;
      //     background: black;
      //     border-radius: 50%;
      //     transform-origin: center;
      //   }
      //   .left {
      //     top: 38%;
      //     left: 44%;
      //   }
      //   .right {
      //     top: 38%;
      //     left: 56%;
      //   }
    }

    .screen {
      position: absolute;
      top: 45%;
      left: 12%;
      width: 500px;
      z-index: 99;

      .testBt {
        position: absolute;
        bottom: -20%;
        right: -15%;
        width: 150px;
        background-color: transparent;
      }
    }
  }
}

#takeMeHome {
  width: 100%;
  height: 100vh;
  background: #fff6df;
  overflow: hidden;
  max-width: 100vw;
  padding: 5% 6%;
  .catHead {
    width: 360px;
    height: 280px;
    background: #ffe39f;
    border-radius: 50% 50% 40% 40%;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding-top: 60px;

    .catear-left {
      width: 0;
      height: 0;
      border-bottom: 60px solid #ffe39f;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      position: absolute;
      top: -20px;
      left: 20px;
      transform: rotate(-27deg);
    }

    .catear-right {
      width: 0;
      height: 0;
      border-bottom: 60px solid #ffe39f;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      position: absolute;
      top: -20px;
      right: 20px;
      transform: rotate(27deg);
    }

    .catHead-number {
      position: absolute;
      top: 5px;
      left: 50px;
      background: white;
      color: #444;
      font-weight: bold;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 1.5rem;
    }

    .highlight {
      font-size: 1.5rem;
      font-weight: bold;
      color: #f77e10;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      color: #333;

      li {
        margin-bottom: 0.5rem;
        font-size: 1rem;
      }
    }
  }

  .catHead1 {
    left: 3%;
    top: 10%;
  }

  .catHead2 {
    left: 35%;
    top: 0%;
  }

  .catHead3 {
    left: 70%;
    bottom: 60%;
  }
}
#waitingAHome {
  width: 100%;
  height: 100vh;
  background: #f9eac1;
  overflow: hidden;
  max-width: 100vw;
  padding: 5% 6%;

  /* CarouselCats.scss */
  .carousel-cats {
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  .carousel-track {
    display: flex;
    justify-content: center;
    gap: 24px;
    transition: transform 0.8s ease-in-out;
  }

  .carousel-item {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .cat-quotes-wrapper {
    position: relative;
  }

  .quotes {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    animation: fadeInQuotes 0.8s ease;
    z-index: 10;
  }

  .debug-quotes {
    background: rgba(255, 192, 203, 0.4) !important;
    border: 2px dashed red !important;
  }
  .quote {
    background: #fff3cd;
    color: #5c3c00;
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    white-space: nowrap;

    opacity: 1 !important;
    transform: translateY(0) !important;
    animation: none !important;
  }

  .quote.q2 {
    animation-delay: 0.2s;
  }

  .quote.q3 {
    animation-delay: 0.4s;
  }

  @keyframes popIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInQuotes {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
#letsGoHome {
 width: 100%;
  // height: 100vh;
  background: #FEFFE9;
  overflow: hidden;
  max-width: 100vw;
  padding: 5% 6%;

  .catWalk {
    width: 242px;
    animation: cat-walk 30s linear infinite;
  }
  .photoCarouselBox {
    width: 100%;
  }
  .photoCarousel {
    display: flex;
    animation: scroll-right 80s linear infinite;
    width: max-content;
    img {
      height: 293px;
    }
  }
  .photoCarouselLeft{
    animation:scroll-left   80s linear infinite;
  }
  .textCarouseBox {
    white-space: nowrap;
    width: 100%;
    background-color: transparent;
    margin:20px;
    .textCarouse {
      display: flex;
      padding-left: 100%;
      animation: scrollText 50s linear infinite;
      gap: 50px;
      span {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.8px;
      }
    }
  }
}
@keyframes cat-walk {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform:  translateX(-50%);
  }
}
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
